*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

header{
    width: 95%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    min-width: 1200px;
}

main{
    width: 65%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

#img-nav{
    vertical-align: text-bottom;
    margin: 0 30px;
}

header div.nav-bar-left ul,
header div.nav-bar-right ul{
    display: inline;
}

header ul li{
    display: inline;
    margin-right: 30px;
}

li.btn-nav{
    color: white;
}

.wrapper{
    background-color: #b4d0e7;
    width: 100%;
    height: 800px;
    min-width: 1500px;
}

section#jumbotron{
    width: 80%;
    margin: 0 auto;
}

section#jumbotron h1{
    font-size: 85px;
    padding-top: 50px;
    margin-bottom: 50px;
}

section#jumbotron .col-jumbotron{
    width: 36%;
    display: inline-block;
}

section#jumbotron p{
    margin-bottom: 40px;
    display: inline-block;
}

section#jumbotron p, section#jumbotron div .btn-free-trial{
    font-size: 22px;
}

section#jumbotron div.col-jumbotron div#btn-jumbo-blue,
section#jumbotron div.col-jumbotron div#cancel{
    margin-bottom: 35px;
}

.fa-arrow-down{
    font-size: 50px;
}

#img-jumbo{
    float: right;
    width: 64%;
}

section#subscription h2{
    font-size: 40px;
    padding-top: 300px;
    margin-bottom: 50px;
}

section#subscription #subscription-radio{
    margin-bottom: 30px;
}

section#subscription #subscription-radio input{
    margin-right: 5px;
}

section#subscription #subscription-radio span{
    margin-right: 20px;
}

#professional-row, #standard-row, #advance-row{
    width: calc((100% / 3) - 34px);
}

#professional-row, #standard-row, #advance-row, #info-row{
    height: 40px;
    border-top:#e0e0e0 1px solid;
    border-left:#e0e0e0 1px solid; 
    border-right:#e0e0e0 1px solid;
}

section#subscription div#row-sub h6,
section#subscription div#info-row h6{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    line-height: 36px;
}

#col-sub .content-sub{
    width: 80%;
    margin: 0 auto;
}

#standard-row, #standard-col{
    margin: 0 51px;
}

#professional-col, #standard-col, #advance-col{
    width: calc((100% / 3) - 34px);
    height: 1100px;
    margin-bottom: 50px;
}

#professional-col, #standard-col, #advance-col, #info-col{
    border: #e0e0e0 1px solid;
}

#info-col{
    height: 300px;
}

section#subscription div#col-sub h4,
section#subscription div#text-info h4{
    font-size: 30px;
    padding-top: 25px;
    margin-bottom: 13px;
}

section#subscription div#col-sub .price{
    font-weight: bold;
    margin-bottom: 15px;
}

section#subscription div#col-sub .timing{
    color: #647482;
    margin-bottom: 50px;
}

section#subscription div#col-sub .user,
section#subscription div#col-sub .storage{
    margin-bottom: 25px;
}

section#subscription div#col-sub .description{
    margin-bottom: 45px;
}

section#subscription div#col-sub .btn-free-trial{
    margin-bottom: 40px;
}

#buy-now, .fa-check{
    color:#0061ff;
}

hr{
    border-top: 1px solid #e0e0e0;
    width: 65px;
    margin: 30px 0;
}

section#subscription div#col-sub h5,
section#subscription div#col-sub li,
section#subscription div#text-info h5{
    margin-bottom: 30px;
}

section#subscription div#col-sub h5,
section#subscription div#text-info h5{
    font-size: 20px;
}

section#subscription div#col-sub li{
    list-style: none; 
}

section#subscription div#text-info{
    width: 70%;
}

section#subscription div#btn-info{
    width: 30%;
    padding-top: 25px;
}

section#subscription div#info-col{
    padding: 30px;
    height: 230px;
}

/*!! -- START BUTTON -- !!*/

#btn-nav a, .btn-free-trial a, .btn-contact a, #find-a-partner a{
    text-decoration: none;
}

#btn-nav a, .btn-free-trial a, .btn-contact a{
    color: white;
    background-color: #0061ff; 
}

#jumbotron .col-jumbotron .btn-free-trial{
    display: inline-block;
    margin-bottom: 30px;
}

#btn-nav a, #btn-jumbo{
    padding: 7px 20px;
}

#btn-jumbo{
    font-size: 18px;
}

.btn-free-trial a{
    padding: 5px 55px;
}

.btn-contact a{
    padding: 5px 85px;
}

#find-a-partner a{
    color: black;
    border: 1px solid black;
    padding: 7px 21px;
}

/*!! -- END BUTTON -- !!*/

section#partner{
    padding-top: 150px;
}

section#partner img#people{
    width: 52%;
}

section#partner div#partner-text{
    width: 42%;
}

section#partner div#partner-text h4{
    font-size: 30px;
    margin-bottom: 25px;
    padding-top: 50px;
}

section#partner div#partner-text p{
    line-height: 30px;
    margin-bottom: 35px;
    font-size: 19px;
}