*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

header{
    width: 95%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    min-width: 1200px;
}

main{
    width: 65%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

#img-nav{
    vertical-align: text-bottom;
    margin: 0 30px;
}

header div.nav-bar-left ul,
header div.nav-bar-right ul{
    display: inline;
}

header ul li{
    display: inline;
    margin-right: 30px;
}

li.btn-nav{
    color: white;
}

.wrapper{
    background-color: #b4d0e7;
    width: 100%;
    height: 800px;
    min-width: 1500px;
}

section#jumbotron{
    width: 80%;
    margin: 0 auto;
}

section#jumbotron h1{
    font-size: 85px;
    padding-top: 50px;
    margin-bottom: 50px;
}

section#jumbotron .col-jumbotron{
    width: 36%;
    display: inline-block;
}

section#jumbotron p{
    margin-bottom: 40px;
    display: inline-block;
}

section#jumbotron p, section#jumbotron div .btn-free-trial{
    font-size: 22px;
}

section#jumbotron div .btn-free-trial{
    text-decoration: none;
    color: white;
}

section#jumbotron div.col-jumbotron div#btn-jumbo-blue,
section#jumbotron div.col-jumbotron div#cancel{
    margin-bottom: 35px;
}

.bg-blue{
    background-color: #0061ff;
    padding: 10px 20px;
}

.fa-arrow-down{
    font-size: 50px;
}

#img-jumbo{
    float: right;
    width: 64%;
}

section#subscription h2{
    font-size: 40px;
    padding-top: 250px;
    margin-bottom: 50px;
}

section#subscription #subscription-radio{
    margin-bottom: 30px;
}

section#subscription #subscription-radio input{
    margin-right: 5px;
}

section#subscription #subscription-radio span{
    margin-right: 20px;
}

#professional-row, #standard-row, #advance-row{
    width: calc((100% / 3) - 34px);
    height: 40px;
    border-top:#e0e0e0 1px solid;
    border-left:#e0e0e0 1px solid; 
    border-right:#e0e0e0 1px solid;
}

section#subscription div#row-sub h6{
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    line-height: 36px;
    color: #1a1a1a;
}

#col-sub .content{
    width: 80%;
    margin: 0 auto;
}

#standard-row, #standard-col{
    margin: 0 51px;
}

#professional-col, #standard-col, #advance-col{
    width: calc((100% / 3) - 34px);
    height: 1000px;
    border: #e0e0e0 1px solid
}

section#subscription div#col-sub h4{
    font-size: 30px;
    padding-top: 25px;
    margin-bottom: 13px;
}

section#subscription div#col-sub .price{
    font-weight: bold;
    margin-bottom: 15px;
}

section#subscription div#col-sub .timing{
    color: #647482;
    margin-bottom: 50px;
}

section#subscription div#col-sub .user,
section#subscription div#col-sub .storage{
    margin-bottom: 25px;
}

section#subscription div#col-sub .description{
    margin-bottom: 45px;
}

section#subscription div#col-sub .btn-free-trial{
    margin-bottom: 40px;
}

.btn-free-trial a{
    padding:10px 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#buy-now{
    color:#0061ff;
}

hr{
    border-top: 1px solid #e0e0e0;
    width: 65px;
    margin: 30px 0;
}

section#subscription div#col-sub h5{
    font-size: 20px;
    margin-bottom: 10px;
}

section#subscription div#col-sub li{
    margin-bottom: 30px;
}